@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	border: 0;
	/* This removes the border around the viewport in old versions of IE */
	width: 100%;
	height:100%;
	background: #fff;
	min-width: 600px;
	/* Minimum width of layout - remove line if not required */
	/* The min-width property does not work in old versions of Internet Explorer */
	font-size: 14px;
	//min-height:600px;
}

a {
	color: #369;
}

a:hover {
	color: #fff;
	background: #369;
	text-decoration: none;
}

h1,h2,h3 {
	margin: .8em 0 .2em 0;
	padding: 0;
}

p {
	margin: .4em 0 .8em 0;
	padding: 0;
}

img {
	margin: 10px 0 5px;
}
/* Header styles */
#header {
	clear: both;
	float: left;
	width: 100%;
}

#header {
/* 	border-bottom: 1px solid #000; */
}

#header p,#header h1,#header h2 {
	padding: .4em 15px 0 15px;
	margin: 0;
}


/* 'widths' sub menu */
#layoutdims {
	clear: both;
	background: #eee;
	border-top: 4px solid #000;
	margin: 0;
	padding: 6px 15px !important;
	text-align: right;
}
/* column container */
.colmask {
	position: relative;
	/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear: both;
	float: left;
	width: 100%; /* width of whole page */
	overflow: hidden; /* This chops off any overhanging divs */
}
/* 2 column left menu settings */
.leftmenu {
	background: #6FA9C7;
/* 	background: url("../images/leftbg81.jpg") repeat scroll left top #00246D; */
}

.leftmenu .colright {
	float: left;
	width: 200%;
	position: relative;
	left: 200px;
	background: #fff;
}

.leftmenu .col1wrap {
	float: right;
	width: 50%;
	position: relative;
	right: 200px;
	padding-bottom: 1em;
}

.leftmenu .col1 {
	margin: 0 15px 0 215px;
	position: relative;
	right: 100%;
	overflow: hidden;
}

.leftmenu .col2 {
	float: left;
	width: 170px;
	position: relative;
	right: 185px;
}
/* Footer styles */
#footer {
	clear: both;
	float: left;
	width: 100%;
	border-top: 1px solid #000;
	background-color: #334455;
}

#footer p {
	padding: 10px;
	margin: 0;
}

.lefttitle{
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	padding: 20px 0 8px;
	text-align: center;
	color: #0078B6;
}
.menu {
  font-family: arial,sans-serif;
  font-size: 11px;
  margin: 10px 0;
  position: relative;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  float: left;
  margin-right: 1px;
  position: relative;
}
.menu ul li a, .menu ul li a:visited {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #C9C9A7;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 1px 1px 0 0;
  color: #000000;
  display: block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  width: 170px;
  
}
.navbar {
	background: url("../images/global_nav_bg.png") repeat-x scroll 0 0 transparent;
}
.navbar .logo {
	width:190px;
	height:34px;
	left: 0;
	margin: 0 0 0 -27px;
	position: absolute;
}
.navbar .nav {
	display: inline;
	float: left;
	font-size: 14px;
	margin: 0 0 0 163px;
}
.navbar .nav-right {
	float:right;
	padding-right:30px;
}
.navbar li {
  	padding: 0 0 0 2px;
  	display: inline;
}
.navbar li li {
	background: url("../images/global_nav_bg.png") repeat-x scroll 0 0 transparent;
}

.page {
	margin: 0 auto;
    padding: 20px;
    width: 90%;
}